# Copie para .env.local (desenvolvimento). As chaves abaixo são públicas.
NEXT_PUBLIC_SUPABASE_URL=https://mbvybujpkwuorhtdzcde.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_ZCwMkDCoJ5_H7DHZ476TsQ_CesBbG9J
